* {
    margin: 0;
    padding: 0;
}

.container {
    height: 648px;
    width: 1152px;
    background: linear-gradient(rgba(218, 218, 218, 0.1), rgba(218, 218, 218, 0.3));
    margin: 50px auto;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    position: relative;
}
.url {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}
.text1 {
    font-size: 70px;
}
.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 285px;
    transform: translate(-50%, -50%);
}
.card0 {
    position: absolute;
    top: 150px;
    left: 155px;
    width: 250px;
    padding: 2rem 1rem;
}
.text2, .text3 {
    color: #005AA3;
    font-size: 1.2rem;
}


#swiss_map {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 40%;
    transform: translate(-50%, -50%);
}

#house, #sofa, #workstation, #browser {
    position: absolute;
    left: 0;
    top: 0;
}

g {
    pointer-events: bounding-box;
}
/* g#work:hover, g#table:hover, g#bedroom:hover, g#kids:hover, g#kitchen:hover {
    opacity: 0.5;
} */

.cardoverlay {
    width: 255px;
    height: 169px;
    border: 2px solid #005AA3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #005AA3;
    background-color: #eee;
    display: none;
}
.cardoverlay1 {
    top: 148px;
    left: 420px;
}

.cardoverlay2 {
    top: 148px;
    left: 692px;
}

.cardoverlay3 {
    top: 330px;
    left: 150px;
}

.cardoverlay4 {
    top: 330px;
    left: 420px;
}

.cardoverlay5 {
    top: 330px;
    left: 692px;
}

.cardoverlay a {
    padding: 1rem 2rem;
    background-color: #005AA3;
    text-decoration: none;
    color: #ffdd00;
    cursor: pointer;
}

.cube_viewport {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    perspective: 1300px;
}

.cube_viewport::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 20%;
    background-color: black;
    z-index: -1;
    top: 140%;
    left: -10%;
    filter: blur(50px);
}

.cube {
    width: 100%;
    height: 33.33333334%;
    transform-style: preserve-3d;
    position: relative;
}

.cube-2 {
    z-index: 10;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;   
}

.face p {
    margin-left: 1rem;
}
.face p.maintxt {
    font-size: 30px;
}

.front {
    transform: translateZ(200px);
    background-color: #005AA3;
}

.back {
    transform: translateZ(-200px) rotateY(180deg);
    background-color: gray;
}

.right {
    transform: translateX(200px) rotateY(90deg);
    background-color: #005AA3;
}

.cube-1 .right {
    display: flex;
    align-items: center;
}

.cube-1 .right img {
    width: 60%;
}

.left {
    transform: translateX(-200px) rotateY(270deg);
    background-color: gray;
}

.top {
    height: 400px;
    background-color: #111;
    transform: translateY(-200px) rotateX(90deg);
}

.bottom {
    height: 400px;
    background-color: #111;
    transform: translateY(-200px) rotateX(-90deg);
}
